<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sean Clark</title>
</head>
<body>
    <h1>About Sean Clark</h1>

<p>My name is Sean Clark I am 22 years old and I am a senior information systems major at the University of Maryland's Robert H. Smith School of Business.
I am currently finishing up my last semester at UMD where I am taking project management, business law, and information systems projects. I am excited about what the future has in store for me </p>

<p> id="hobbies"</p>
    <h2>Sean's Favorite Hobbies</h2>

<p>Some of my favorite hobbies include playing sports with my friends, watching NFL on sundays, and playing video games. I grew up playing sports like baseball my entire life
, so its just something that I love to do whenever the weather is nice outside. My favorite NFL team is the New York Jets so I like to keep up with them each week. I also grew up
playing video games like GTA and Call of Duty with my cousins so every now and then I like to play it during my down time.</p>
<!-- Used bold lettering to emphasize the importance of this heading-->
    <p><strong>List of Sean's Favorite Sports Teams:</strong></p>

    <ul>
            <li>New York Jets</li>
            <li>Baltimore Orioles</li>
            <li>Sacramento Kings</li>
            <li>Maryland Terrapins</li>
    </ul>
<!-- Italicized the heading of the list to show emphasis on importance-->
    <p><em>Sean's Top 3 TV Shows:</em></p>

    <ol>
            <li>Snowfall</li>
            <li>Power</li>
            <li>Last Chance U</li>
    </ol>

    <table>
            <tr>
                    <th>Courses</th>
                    <th>Semester</th>
            </tr>
            <tr>
                    <td>BMGT403</td>
                    <td>Fall 2023</td>
            </tr>
            <tr>
                    <td>BMGT407</td>
                    <td>Spring 2024</td>
            </tr>
            <tr>
                    <td>BMGT485</td>
                    <td>Spring 2024</td>
            </tr>
    </table>
<!-- These consist of URLs that serve as hyperlinks to my favorite websites-->
<p>A link to the <a href="https://www.netflix.com/browse">Netflix home page</a> </p>
<p>A link to the <a href="#Hobbies">Sean's Hobby Section on this web page</a> </p>
<p>A link to the <a href="https://www.espn.com/" target="_blank">ESPN home page</a> </p>

    <p>Here is a picture of the Smith logo.</p>
    <img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png"
    width="267" height="72" alt="Smith Logo">

</body>
</html>