<!-- Extended the base html file to abide by the dry principle-->

{% extends "base.html" %}

{% block page_title %}
Training
{% endblock %}

{% block page_content %}

<!-- Warning message to greet users when they visit the training html page-->
<p>Welcome to your training for the TerpSys Student Information System. Training materials are currently under construction, but will be created very soon. Please check back soon or email Sean Clark at <a href="mailto:sclark22@umd.edu"> sclark22@umd.edu</a> if you wish to be placed on the waiting list.</p>

{% endblock %}